In [10]:
import datetime
from quandlwrap import historicdata

In [16]:
partialhis = historicdata.load_partialhistoricdata('INTC',datetime.date(2018,3,1))
partialhis

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-01,49.50,49.715,47.470,47.84,36326639.0,0.0,1.0,49.50,49.715,47.470,47.84,36326639.0
2018-03-02,47.20,49.050,46.960,48.98,33310592.0,0.0,1.0,47.20,49.050,46.960,48.98,33310592.0
2018-03-05,48.57,49.795,48.041,49.75,30826521.0,0.0,1.0,48.57,49.795,48.041,49.75,30826521.0
2018-03-06,50.16,51.330,50.150,50.71,39132300.0,0.0,1.0,50.16,51.330,50.150,50.71,39132300.0
2018-03-07,50.18,51.485,50.100,51.32,31801943.0,0.0,1.0,50.18,51.485,50.100,51.32,31801943.0
2018-03-08,51.79,52.080,50.470,50.74,28132301.0,0.0,1.0,51.79,52.080,50.470,50.74,28132301.0
2018-03-09,51.27,52.300,51.000,52.19,30943178.0,0.0,1.0,51.27,52.300,51.000,52.19,30943178.0

In [17]:
partialhis[partialhis['Ex-Dividend']>0].empty and partialhis[partialhis['Split Ratio']!=1].empty

True

In [1]:
from crossreference import *
from datetime import datetime

In [2]:
import quandl
import quandlwrap

quandl.ApiConfig.api_key

'dygSncwD1VTudYKz9UNb'

In [3]:
import httphelper

In [4]:

import quandlwrap.httpwrap as qlhttp

In [5]:
df = qlhttp.load_partialhistoricdata('AMZN', datetime(2018,3,1))

https://www.quandl.com/api/v3/datasets/WIKI/AMZN/data.json?start_date=2018-03-01&api_key=dygSncwD1VTudYKz9UNb

In [6]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-01,1513.60,1518.49,1465.00,1493.45,6835230.0,0.0,1.0,1513.60,1518.49,1465.00,1493.45,6835230.0
2018-03-02,1469.10,1501.05,1455.01,1500.25,6587564.0,0.0,1.0,1469.10,1501.05,1455.01,1500.25,6587564.0
2018-03-05,1494.24,1525.38,1481.00,1523.61,5233934.0,0.0,1.0,1494.24,1525.38,1481.00,1523.61,5233934.0
2018-03-06,1533.20,1542.13,1528.00,1537.64,4561718.0,0.0,1.0,1533.20,1542.13,1528.00,1537.64,4561718.0
2018-03-07,1526.52,1545.90,1522.51,1545.00,4174123.0,0.0,1.0,1526.52,1545.90,1522.51,1545.00,4174123.0

In [3]:
import quandlwrap

In [12]:
df2 = quandlwrap.load_partialhistoricdata('AMZN', datetime(2018,3,1))

In [13]:
ne = (df != df2).any(1)

In [14]:
(ne==True).any()

False

In [17]:
len(df)

19

In [16]:
df2

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-01,1513.60,1518.49,1465.00,1493.45,6835230.0,0.0,1.0,1513.60,1518.49,1465.00,1493.45,6835230.0
2018-03-02,1469.10,1501.05,1455.01,1500.25,6587564.0,0.0,1.0,1469.10,1501.05,1455.01,1500.25,6587564.0
2018-03-05,1494.24,1525.38,1481.00,1523.61,5233934.0,0.0,1.0,1494.24,1525.38,1481.00,1523.61,5233934.0
2018-03-06,1533.20,1542.13,1528.00,1537.64,4561718.0,0.0,1.0,1533.20,1542.13,1528.00,1537.64,4561718.0
2018-03-07,1526.52,1545.90,1522.51,1545.00,4174123.0,0.0,1.0,1526.52,1545.90,1522.51,1545.00,4174123.0
2018-03-08,1550.00,1554.88,1545.25,1551.86,3512528.0,0.0,1.0,1550.00,1554.88,1545.25,1551.86,3512528.0
2018-03-09,1563.50,1578.94,1559.08,1578.89,4417059.0,0.0,1.0,1563.50,1578.94,1559.08,1578.89,4417059.0
2018-03-12,1592.60,1605.33,1586.70,1598.39,5115886.0,0.0,1.0,1592.60,1605.33,1586.70,1598.39,5115886.0
2018-03-13,1615.96,1617.54,1578.01,1588.18,6427066.0,0.0,1.0,1615.96,1617.54,1578.01,1588.18,6427066.0
2018-03-14,1597.00,1606.44,1590.89,1591.00,4164395.0,0.0,1.0,1597.00,1606.44,1590.89,1591.00,4164395.0
2018-03-15,1595.00,1596.91,1578.11,1582.32,4026744.0,0.0,1.0,1595.00,1596.91,1578.11,1582.32,4026744.0
2018-03-16,1583.45,1589.44,1567.50,1571.68,5145054.0,0.0,1.0,1583.45,1589.44,1567.50,1571.68,5145054.0
2018-03-19,1554.53,1561.66,1525.35,1544.93,6376619.0,0.0,1.0,1554.53,1561.66,1525.35,1544.93,6376619.0
2018-03-20,1550.34,1587.00,1545.41,1586.51,4507049.0,0.0,1.0,1550.34,1587.00,1545.41,1586.51,4507049.0
2018-03-21,1586.45,1590.00,1563.17,1581.86,4667291.0,0.0,1.0,1586.45,1590.00,1563.17,1581.86,4667291.0
2018-03-22,1565.47,1573.85,1542.40,1544.10,6177737.0,0.0,1.0,1565.47,1573.85,1542.40,1544.10,6177737.0
2018-03-23,1539.01,1549.02,1495.36,1495.56,7843966.0,0.0,1.0,1539.01,1549.02,1495.36,1495.56,7843966.0
2018-03-26,1530.00,1556.99,1499.25,1555.86,5547618.0,0.0,1.0,1530.00,1556.99,1499.25,1555.86,5547618.0
2018-03-27,1572.40,1575.96,1482.32,1497.05,6793279.0,0.0,1.0,1572.40,1575.96,1482.32,1497.05,6793279.0